<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.houtai.menu.dao.DishStatsDao">

    <insert id="addDish">
        insert into dish_stats (dish_id)
        values (#{dishID});
    </insert>
    <delete id="deleteDish">
        delete from dish_stats where dish_id=#{id};
    </delete>
</mapper>
